@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@300;400;500;600&family=JetBrains+Mono:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #FAFAFA;
  --color-primary: #171717;
  --color-secondary: #525252;
  --color-accent: #2563EB;
  --color-btn: #000000;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-handwriting: "Caveat", cursive;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
  }
}